* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

:root {
    --bg-color: #09090b;
    --bg-highlight-color: #141419;

    --primary-color: #fafafa;
    --secondary-color: #717171;
    --highlight-color: #fb8005;
    --code-color: #34d399;

    --border: 1px solid #27272a;
    --shadow: 0 8px 20px #141419;
}

body {
    background: var(--bg-color);
    color: var(--primary-color);
    padding: 60px;
}

/* Secção do Gerador */
.gerador-codigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

span {
    color: var(--highlight-color);
}

p {
    color: var(--secondary-color);
    margin-top: 5px;
}

/* Formulário de Descrição do Código */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

textarea {
    background-color: var(--bg-highlight-color);
    color: var(--primary-color);
    width: 100%;
    max-width: 640px;
    margin-top: 30px;
    padding: 10px;
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--shadow);
    outline: none;
    resize: none;
}

.btn-gerar {
    background-color: var(--highlight-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 15px;
    width: 100%;
    max-width: 640px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Secção da Resposta Gerada por IA */
.resposta-gerada {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 10px;
    margin-top: 50px;
    opacity: 1;
    transition: all 0.3s ease;
}

.resposta-gerada > div {
    width: 640px;
}

.cabecalho-codigo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

h2 {
    color: var(--secondary-color);
    font-size: 16px;
}

.btn-copiar {
    background-color: transparent;
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
}

/* Exibição do Código Fonte */
.codigo {
    background-color: var(--bg-highlight-color);
    color: var(--code-color);
    width: 100%;
    height: 100%;
    max-height: 400px;
    padding: 15px;
    border: var(--border);
    border-radius: 10px;
    box-shadow: 0 8px 20px var(--bg-highlight-color);
    overflow: auto;
    font-size: 12px;
    line-height: 2;
    white-space: pre-wrap;
}

/* Renderização do Código Fonte */
.renderizacao {
    background-color: var(--bg-highlight-color);
    margin-top: 10px;
    width: 100%;
    height: 100%;
    min-height: 400px;
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

/* Ocultar Secção */
.ocultar {
    opacity: 0;
}
